.form {
    display:grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 820px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

@media (max-width: 320px) {
    .form__input {
        width: 100%;
    }
}

.form__button {
    padding: 10px;
    border-style: none;
    color:white;
    cursor: pointer;
    transition: 0.5s;
    background:hsl(180, 100%, 25%);
}

.form__button:hover {
    background: hsl(180, 100%, 30%);
    transform: scale(1.05);
}

.form__button:active {
    background-color:hsl(180, 100%, 35%);
}
