.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list__item {
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.list__item--hidden {
    display: none;
}

.list__itemDone {
    text-decoration: line-through;
}

.button__list {
    padding: 5px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color:white;
    background:rgb(13, 97, 33);
    transition: 0.5s;
}

.button__list:hover {
    background-color: hsl(120, 61%, 39%);
}

.button__list:active {
    background-color: hsl(120, 61%, 50%);
}

.button__listRemove {
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(212, 11, 11);
    background-image: url("../Tasks/wastebasket.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.button__listRemove:hover {
    background-color: hsl(348, 83%, 52%);
}

.button__listRemove:active {
    background-color: hsl(348, 83%, 60%);
}

.list__form {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
    flex-grow: 1;
    width: 100%;
}

