html {
  box-sizing: border-box;
}
  
*, ::after, ::before {
  box-sizing:inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin:auto;
  padding: 30px;
  background-color:rgba(204, 204, 204, 0.253);
  word-break: break-word;
  overflow-wrap: break-word;
}

#root {
  display: flex;
  justify-content: center;
}